<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
    <%= image_tag "profilepic.jpeg", width: 300, alt: "profile image" %>
	</div>

	<div class="col-md-8">

	  <p class="about-text">New to the software engineering game and I couldn't be more excited to begin this journey!  Born and raised in Salt Lake City, Utah I currently reside in Downtown Salt Lake.  The growth of the city, and surrounding areas, over the last few years has been fun to watch and be a part of; not to mention, I can walk to the Jazz games.  Go Jazz!  As you probably have guessed by navigating through this portfolio I have a deep love for snowboarding.  Twenty seasons under my belt, or board, and I can't wait for the next one to begin.  If I ever won the lottery I would follow the snow across the globe; good thing we have the greatest snow on Earth!</p>

	</div>
</div>


