<h1>Contact Me</h1>

<hr>

<div class="row">
	<div class="col-md-6">
	  <h3>Address</h3>

	  <p>360 W Broadway #228, Salt Lake City, UT 84101</p>

	  <h3>Phone</h3>

	  <p><%= number_to_phone "8017556358"%></p>

	  <h3>Email</h3>

	  <p><a href="mailto:b.sten88@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>

	  <h3>GitHub</h3>

	  <p><a href="https://github.com/braden-sten" target="_blank">GitHub</a></p>
	</div>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.9388175906543!2d-111.90358868488822!3d40.7633703793264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f503aa69b7f1%3A0x8a5c09355ff5bd14!2s360+Broadway%2C+Salt+Lake+City%2C+UT+84101!5e0!3m2!1sen!2sus!4v1498076134071" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	
</div>



