<div class="inner cover">
  <h1 class="cover-heading">Braden's Portfolio</h1>
  <p class="lead">Please, come in, take a look around. I have created this portfolio to house my projects and to showcase my development abilities; and maybe have a little fun in sharing stories on my blog.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %> 
  </p>
</div>

   